.footer {
    background-color: rgba(44, 49, 84, 1);
    padding: 15px 0;
}

.copyright {
    font-weight: 400;
    font-size: $_14px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(128, 128, 128, 1);
}

.copyright-author {
    font-weight: 400;
    font-size: $_14px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(128, 128, 128, 1);
}

.author-white {
    color: #fff;
}