.team {
    background-color: #fff;
    padding: 102px 0 114px;
}

.team-wrape {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    justify-content: space-between;
}

.team-card {
    width: 280px;
    padding: 0 15px;
}

.team-card-picture {
    width: 250px;
    height: 250px;
    margin-bottom: 30px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.team-card-name {
    font-weight: 700;
    font-size: $_24px;
    text-transform: capitalize;
    color: #2D3033;
    margin-bottom: 6px;
}

.team-card-position {
    font-weight: 400;
    font-size: $_18px;
    text-transform: uppercase;
    color: #FF4343;
    margin-bottom: 18px;
}

.team-card-discription {
    margin-bottom: 38px;

    & p {
        font-weight: 400;
        font-size: $_18px;
        color: #6C7279;
        text-align: left;
    }
}

.team-media-list {
    display: flex;
    width: 130px;
    justify-content: space-between;
    align-items: center;
}

.team-media-list_item {
    font-size: $_24px;
}

.fa-facebook-f_team {
    transition: .7s;
    border: 1px solid rgba(198, 203, 205, 1);

    &:hover {
        color: rgba(9, 29, 109, 0.7);
        border: 1px solid rgba(9, 29, 109, 0.7);
    }
}

.fa-twitter_team {
    transition: .7s;
    border: 1px solid rgba(198, 203, 205, 1);

    &:hover {
        color: rgba(0, 172, 238, 1);
        border: 1px solid rgba(0, 172, 238, 1);
    }
}

.fa-linkedin_team {
    transition: .7s;
    border: 1px solid rgba(198, 203, 205, 1);

    &:hover {
        color: rgba(14, 118, 168, 1);
        border: 1px solid rgba(14, 118, 168, 1);
    }
}