.testimonials {
    overflow-x: hidden;

    @media (max-width:690px) {
        flex-direction: column;
    }
}

.swiper-slide {}

.swiper-container {
    position: relative;
    padding-bottom: 30px;
}

.slide-content-wrap {
    display: flex;
    background-color: rgba(92, 50, 73, 1);
    height: 600px;

    @media (max-width:1200px) {
        max-height: 400px;
    }

    @media (max-width:992px) {
        max-height: 350px;
    }

    @media (max-width: 767px) {
        flex-direction: column;
        max-height: 500px;
    }

    @media (max-width: 600px) {
        max-height: 400px;
    }

    @media (max-width: 360px) {
        max-height: 350px;
    }
}

.slider-content-picture {
    width: 50%;
    height: 100%;
    overflow: hidden;

    & img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    @media (max-width: 767px) {
        width: 100%;
        height: 65%;
    }

    @media (max-width: 300px) {
        height: 55%;
    }
}

.slider-content-text {
    width: 50%;
    position: relative;
    color: #fff;

    @media (max-width: 767px) {
        width: 100%;
        height: 35%;
    }

    @media (max-width: 300px) {
        height: 45%;
    }
}

.slider-content-text-wpar {
    position: absolute;
    width: 470px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width:1200px) {
        width: 400px;
    }

    @media (max-width:992px) {
        width: 350px;
    }

    @media (max-width: 767px) {
        width: 90%;
        text-align: center;
    }

    @media (max-width: 300px) {
        width: 100%;
    }
}


.slider-content-maintext {
    font-family: 'Cardo', serif;
    font-weight: 400;
    font-size: $_36px;
    line-height: 49px;
    margin-bottom: 20px;
    font-style: italic;
    text-transform: capitalize;

    @media (max-width:1200px) {
        font-size: 30px;
    }

    @media (max-width:992px) {
        font-size: 24px;
    }

    @media (max-width: 767px) {
        font-size: 20px;
        line-height: 30px;
    }

    @media (max-width: 360px) {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 16px;
    }
}

.slider-content-author {
    font-weight: 700;
    font-size: $_18px;

    @media (max-width:992px) {
        font-size: 14px;
        font-weight: 500;
    }

    @media (max-width: 767px) {
        font-weight: 400;
    }

    @media (max-width: 360px) {
        font-size: 12px;
        font-weight: 300;
    }
}

.item-pagination {
    background-color: #fff;
}


.swiper-pagination-bullet {
    border: 1px solid rgba(92, 50, 73, 1)!important;
    background: #fff !important;
}

.swiper-pagination-bullet-active {
    background: rgba(92, 50, 73, 1) !important;
}

.swiper-button-next::after {
    color: #fff;

    @media (max-width: 767px) {
        display: none;
    }
}

.swiper-button-prev::after {
    color: #fff;

    @media (max-width: 767px) {
        display: none;
    }
}

.item-pagination-bullet:focus {
    background-color: rgba(92, 50, 73, 1);
}